*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    width: 100%;
    background-color: #1B3333;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar h1{
    text-decoration: none;
    color: #B5EAEB;
    font-family: "Notable", sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.canvas{
    width: 100%;
    height: 100%;
    padding: 46px 109px;
    display: flex;
    flex-direction: column;
}

.search{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    position: relative;
    margin-bottom: 64px;
}

.search_bar img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    z-index: -1;
}

.search_bar input{
    width: 920px;
    padding: 21px 21px 21px 87px;
    border-radius: 27px;
    font-size: 24px;
    background-color: transparent;
    border: solid #C0C0C0 3px;
    outline: none;
}

.design{
    margin-bottom: 36px;
    cursor: pointer;
}

.design .imgs{
    width: 270px;
    height: 156px;
    margin-bottom: 12px;
}

.picture{
    width: 270px;
    height: 156px;
    background-color: #D9D9D9;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design h1{
    font-size: 22px;
    font-weight: 500;
    color: #858585;
}

.search input::placeholder{
    font-size: 24px;
    color: #6D6D6D;
}

.filter{
    position: relative;
    width: 323px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.filter input{
    display: none;
}

.category{
    width: 100%;
    padding: 19px 22px;
    border: solid #C0C0C0 3px;
    background-color: transparent;
    border-radius: 27px;
}

.category h1{
    font-size: 24px;
    color: #6D6D6D;
    font-weight: 500;
}

.filter img{
    position: absolute;
    top: 40%;
    right: 8%;
    transition: 0.5s;
    z-index: -1;
}

.filter label + input[type="checkbox"]:checked + img + .in-category {
    max-height: 500px;
}

.filter label + input[type="checkbox"]:checked + img {
    transform: rotate(180deg);
}

.in-category {
    top: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    margin-bottom: 33px;
}

.in-category button {
    padding: 10px;
    font-size: 18px;
    border: solid #C0C0C0 3px;
    border-radius: 15px;
    cursor: pointer;
}

.design img{
    transition: box-shadow 0.3s ease;
}

.design:hover img {
    box-shadow: 0 0 20px 0.5px gray;
}

.in-category button:active{
    background-color: #858585;
    color: white;
    border-color: white;
}

.load-more{
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more button{
    padding: 8px 91px;
    color: #858585;
    border: solid #858585 2px;
    background-color: transparent;
    border-radius: 18px;
    font-size: 23px;
    cursor: pointer;
    transition: 0.5s;
}

.load-more :hover{
    box-shadow: 0 0 20px 0.5px gray;
}

.load-more button:active{
    background-color: #858585;
    color: white;
    border-color: white;
}

.back{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.in-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-height: 600px;
    overflow: hidden;
    transition: max-height 1s ease;
}